# PROBLEM

We've an input file (Student_marks.csv) with the marks of students for Maths. <br/>
Formulate a hypothesis and test it to see if there's significant difference <br/>
between the marks before and after training.

# Hypothesis Testing

Null Hypothesis (µo) <br/>
µbefore = µafter <br/>
i.e. there's no significant difference between the marks before and after training.

Alternate Hypothesis (µa) <br/>
µbefore != µafter <br/>
i.e. there's significant difference between the marks before and after training.

In [1]:
import os
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
# Check the current working directory and set it appropriately.
# cwd should point to the location where the input csv file resides.

os.getcwd()

'C:\\Users\\praveen\\DS_Notebooks\\hgwxx7'

In [4]:
# alternate way to list files in a directory

In [5]:
import glob

In [6]:
glob.glob('./*.csv')

['.\\NY_house.csv', '.\\NY_house_.csv', '.\\Student_marks.csv']

In [7]:
# Alternately you can specify the full path to the file.
# Here, I'm giving only the filename.
data = pd.read_csv("Student_marks.csv")

In [8]:
data.columns

Index(['ID', 'Gender', 'Race', 'SEB', 'School', 'Prog', 'Read', 'Write',
       'Math1', 'Math2', 'SST'],
      dtype='object')

In [9]:
data.describe()

,ID,Gender,Race,SEB,School,Prog,Read,Write,Math1,Math2,SST
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.54500,3.430000,2.055000,1.160000,2.025000,52.230000,52.775000,52.645000,51.850000,52.405000
std,57.879185,0.49922,1.039472,0.724291,0.367526,0.690477,10.252937,9.478586,9.368448,9.900891,10.735793
min,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,28.000000,31.000000,33.000000,26.000000,26.000000
25%,50.750000,0.00000,3.000000,2.000000,1.000000,2.000000,44.000000,45.750000,45.000000,44.000000,46.000000
50%,100.500000,1.00000,4.000000,2.000000,1.000000,2.000000,50.000000,54.000000,52.000000,53.000000,52.000000
75%,150.250000,1.00000,4.000000,3.000000,1.000000,2.250000,60.000000,60.000000,59.000000,58.000000,61.000000
max,200.000000,1.00000,4.000000,3.000000,2.000000,3.000000,76.000000,67.000000,75.000000,74.000000,71.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
ID        200 non-null int64
Gender    200 non-null int64
Race      200 non-null int64
SEB       200 non-null int64
School    200 non-null int64
Prog      200 non-null int64
Read      200 non-null int64
Write     200 non-null int64
Math1     200 non-null int64
Math2     200 non-null int64
SST       200 non-null int64
dtypes: int64(11)
memory usage: 17.3 KB

# SOLUTION

scipy.stats.ttest_rel(a, b, axis=0) <br/>
Calculates the T-test on TWO RELATED samples of scores, a and b. <br/> <br/>

This is a two-sided test for the null hypothesis that 2 related <br/>
or repeated samples have identical average (expected) values.

In [11]:
st.ttest_rel(data.Math1, data.Math2)

Ttest_relResult(statistic=1.3555927189268235, pvalue=0.17676525605507354)

In [12]:
# Alternately, you can do the following as well
stat, pvalue = st.ttest_rel(data.Math1, data.Math2)

In [13]:
stat

1.3555927189268235

In [14]:
pvalue

0.17676525605507354

Examples for the use are scores of the same set of student in different exams, <br/>
or repeated sampling from the same units. The test measures whether the average<br/> 
score differs significantly across samples (e.g. exams). If we observe a large <br/>
p-value, for eg. greater than 0.5 or 0.1 then we can't reject the null hypothesis <br/>
of identical average scores. If the p-value is smaller than the threshold, <br/>
e.g. 1%, 5% or 10%, then we reject the null hypothesis of equal averages. <br/>
Small p-values are associated with large t-statistics.

Here, we have p-value of 17%. We cannot reject the null hypothesis.

# CONCLUSION

There's no significant difference between the marks before and after training.