PROBLEM

In "Student_marks.csv" there're columns for Gender and Race.<br/>
We've gender and race with the following values. <br/>
Gender - [0,1] Race - [1,2,3,4]<br/>
Conduct suitable test to determine the relation between Gender and Race.

SOLUTION

Since these are categorical variables, we can use Chi-Squared test

HYPOTHESIS

ho: The data is consistent with a specified distribution. <br/>
ha: The data is not consistent with a specified distribution. <br/>

We need the distribution of gender [0,1] across different races [1,2,3,4]

Use Student_marks.csv in datasets <br/>
https://github.com/praveentn/hgwxx7/tree/master/datasets

In [1]:
import pandas as pd
import scipy.stats as st

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\praveen\\DS_Notebooks\\hgwxx7'

In [4]:
hyp = pd.read_csv('Student_marks.csv', index_col=0)

In [5]:
hyp.head()

     Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
ID
70        0     4    1       1     1    57     52     41     47   57
121       1     4    2       1     3    68     59     53     63   61
86        0     4    3       1     1    44     33     54     58   31
141       0     4    3       1     3    63     44     47     53   56
172       0     4    2       1     2    47     52     57     53   61

In [6]:
hyp.describe()

,Gender,Race,SEB,School,Prog,Read,Write,Math1,Math2,SST
count,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.54500,3.430000,2.055000,1.160000,2.025000,52.230000,52.775000,52.645000,51.850000,52.405000
std,0.49922,1.039472,0.724291,0.367526,0.690477,10.252937,9.478586,9.368448,9.900891,10.735793
min,0.00000,1.000000,1.000000,1.000000,1.000000,28.000000,31.000000,33.000000,26.000000,26.000000
25%,0.00000,3.000000,2.000000,1.000000,2.000000,44.000000,45.750000,45.000000,44.000000,46.000000
50%,1.00000,4.000000,2.000000,1.000000,2.000000,50.000000,54.000000,52.000000,53.000000,52.000000
75%,1.00000,4.000000,3.000000,1.000000,2.250000,60.000000,60.000000,59.000000,58.000000,61.000000
max,1.00000,4.000000,3.000000,2.000000,3.000000,76.000000,67.000000,75.000000,74.000000,71.000000

In [7]:
# eye-balling!
hyp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 70 to 137
Data columns (total 10 columns):
Gender    200 non-null int64
Race      200 non-null int64
SEB       200 non-null int64
School    200 non-null int64
Prog      200 non-null int64
Read      200 non-null int64
Write     200 non-null int64
Math1     200 non-null int64
Math2     200 non-null int64
SST       200 non-null int64
dtypes: int64(10)
memory usage: 17.2 KB

In [8]:
# contingency table
cont_table = pd.crosstab(hyp['Gender'], hyp['Race'])

In [9]:
cont_table

Race     1  2   3   4
Gender
0       13  3   7  68
1       11  8  13  77

In [10]:
chisq, pvalue, df, ex = st.chi2_contingency(cont_table)

In [11]:
pvalue

0.36123387290989273

CONCLUSION

P-value is larger than significance level (0.05 or 5%)

Hence we cannot reject the null hypothesis (ho)

ie. the distribution of gender is consistent across races

DEFINITIONS

Chi-squared test: a statistical method assessing the goodness of fit between a set of observed values and those expected theoretically.

Type 1

1. A chi-square goodness of fit test determines if a sample data matches a population. For more details on this type, see: Goodness of Fit Test.

Type 2

2. A chi-square test for independence compares two variables in a contingency table to see if they are related. In a more general sense, it tests to see whether distributions of categorical variables differ from each another.

2.a. A very small chi square test statistic means that your observed data fits your expected data extremely well. In other words, there is a relationship.

2.b. A very large chi square test statistic means that the data does not fit very well. In other words, there isn’t a relationship.