In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy.stats import chi2_contingency
from scipy.stats import chi2

E:\Python\Anaconda\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
df = sm.datasets.get_rdataset('epil', package='MASS').data

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.head()

   y      trt  base  age  V4  subject  period     lbase      lage
0  5  placebo    11   31   0        1       1 -0.756354  0.114204
1  3  placebo    11   31   0        1       2 -0.756354  0.114204
2  3  placebo    11   31   0        1       3 -0.756354  0.114204
3  3  placebo    11   31   1        1       4 -0.756354  0.114204
4  3  placebo    11   30   0        2       1 -0.756354  0.081414

In [5]:
df.columns

Index(['y', 'trt', 'base', 'age', 'V4', 'subject', 'period', 'lbase', 'lage'], dtype='object')

In [6]:
df.describe()

,y,base,age,V4,subject,period,lbase,lage
count,236.000000,236.000000,236.000000,236.000000,236.000000,236.00000,2.360000e+02,2.360000e+02
mean,8.254237,31.220339,28.338983,0.250000,30.000000,2.50000,4.704335e-18,1.039658e-16
std,12.346891,26.705051,6.261290,0.433933,17.065581,1.12041,7.461263e-01,2.224570e-01
min,0.000000,6.000000,18.000000,0.000000,1.000000,1.00000,-1.362490e+00,-4.294118e-01
25%,2.750000,12.000000,23.000000,0.000000,15.000000,1.75000,-6.693424e-01,-1.842893e-01
50%,4.000000,22.000000,28.000000,0.000000,30.000000,2.50000,-6.320661e-02,1.242100e-02
75%,9.000000,41.000000,32.000000,0.250000,45.000000,3.25000,5.593230e-01,1.459524e-01
max,102.000000,151.000000,42.000000,1.000000,59.000000,4.00000,1.863031e+00,4.178861e-01

In [7]:
# DROPPING COLUMNS BY INDEX!
# cols = [0,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]
# df.drop(df.columns[cols],axis=1,inplace=True)

In [8]:
tab1 = pd.crosstab(df['trt'], df['V4'])

In [9]:
tab1

V4          0   1
trt
placebo    84  28
progabide  93  31

In [10]:
tab2 = pd.crosstab(df['trt'], df['period'])

In [11]:
tab2

period      1   2   3   4
trt
placebo    28  28  28  28
progabide  31  31  31  31

In [12]:
type(tab2)

pandas.core.frame.DataFrame

In [13]:
stat, p, dof, expected = chi2_contingency(tab2)
print('dof=%d' % dof)
print(p, expected)

dof=3
1.0 [[28. 28. 28. 28.]
 [31. 31. 31. 31.]]

In [14]:
# interpret test-statistic
prob = 0.95
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))

probability=0.950, critical=7.815, stat=0.000

In [15]:
if abs(stat) >= critical:
    print('Dependent (reject Ho)')
else:
    print('Independent (fail to reject Ho)')

Independent (fail to reject Ho)

In [16]:
# interpret p-value
alpha = 1.0 - prob
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('Dependent (reject Ho)')
else:
    print('Independent (fail to reject Ho)')

significance=0.050, p=1.000
Independent (fail to reject Ho)

##### Cannot Reject Null Hypothesis

In [17]:
stat, p, dof, expected = chi2_contingency(tab1)
print('dof=%d' % dof)
print(p, expected)

dof=1
1.0 [[84. 28.]
 [93. 31.]]

In [18]:
# interpret test-statistic
prob = 0.95
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))

probability=0.950, critical=3.841, stat=0.000

In [19]:
if abs(stat) >= critical:
    print('Dependent (reject Ho)')
else:
    print('Independent (fail to reject Ho)')

Independent (fail to reject Ho)

In [20]:
# interpret p-value
alpha = 1.0 - prob
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('Dependent (reject Ho)')
else:
    print('Independent (fail to reject Ho)')

significance=0.050, p=1.000
Independent (fail to reject Ho)

##### Cannot Reject Null Hypothesis

In [21]:
tab3 = pd.crosstab(df['trt'], df['lbase'])

In [22]:
tab3

lbase,-1.3624895922878701,-1.20833891246061,-1.07480751983609,-0.957024484179707,-0.851663968521881,-0.7563537887175559,-0.6693424117279261,-0.58929970405439,-0.515191731900668,-0.381660339276146,...,0.75777394391222,0.7969946570655009,0.8530841237165441,0.8711026292192221,1.0354056805105,1.05044355787504,1.1764842787703997,1.31165905713866,1.55528113979641,1.863030775299
trt,,,,,,,,,,,,,,,,,,,,,
placebo,4,0,4,8,8,8,8,0,0,0,...,4,8,4,0,4,0,0,4,4,0
progabide,0,8,0,0,4,8,4,8,4,4,...,0,0,0,4,0,4,4,0,0,4

In [23]:
stat, p, dof, expected = chi2_contingency(tab3)
print('dof=%d' % dof)
print(p, expected)

dof=38
1.2716907714832295e-23 [[1.89830508 3.79661017 1.89830508 3.79661017 5.69491525 7.59322034
  5.69491525 3.79661017 1.89830508 1.89830508 1.89830508 5.69491525
  3.79661017 1.89830508 5.69491525 1.89830508 3.79661017 1.89830508
  1.89830508 1.89830508 1.89830508 1.89830508 1.89830508 3.79661017
  3.79661017 3.79661017 1.89830508 1.89830508 1.89830508 1.89830508
  3.79661017 1.89830508 1.89830508 1.89830508 1.89830508 1.89830508
  1.89830508 1.89830508 1.89830508]
 [2.10169492 4.20338983 2.10169492 4.20338983 6.30508475 8.40677966
  6.30508475 4.20338983 2.10169492 2.10169492 2.10169492 6.30508475
  4.20338983 2.10169492 6.30508475 2.10169492 4.20338983 2.10169492
  2.10169492 2.10169492 2.10169492 2.10169492 2.10169492 4.20338983
  4.20338983 4.20338983 2.10169492 2.10169492 2.10169492 2.10169492
  4.20338983 2.10169492 2.10169492 2.10169492 2.10169492 2.10169492
  2.10169492 2.10169492 2.10169492]]

In [24]:
# interpret test-statistic
prob = 0.95
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))

probability=0.950, critical=53.384, stat=198.570

In [25]:
if abs(stat) >= critical:
    print('Dependent (reject Ho)')
else:
    print('Independent (fail to reject Ho)')

Dependent (reject Ho)

In [26]:
# interpret p-value
alpha = 1.0 - prob
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('Dependent (reject Ho)')
else:
    print('Independent (fail to reject Ho)')

significance=0.050, p=0.000
Dependent (reject Ho)

##### Reject Null Hypothesis