PROBLEM

Given the file "stats_one_way_anova_1.csv", formulate and test <br/>
the hypothesis defining the relation between Math1 marks and Race. <br/>

Math1 and Race are columns in the input file.<br/>

SOLUTION

There are four different values for the field 'Race'. <br/>
We cannot use t-test for more than 2 samples <br/>

Null Hypothesis (ho) <br/>
There's no significant difference between the marks of different races <br/>

Alternate Hypothesis (ha) <br/>
There's significant difference between the marks of different races

In [1]:
import os
import scipy.stats as st
import pandas as pd

In [2]:
# reading the csv into the variable 'hyp'
hyp = pd.read_csv("stats_one_way_anova_1.csv")

In [3]:
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [4]:
# obtain the unique values for 'Race'
races = pd.unique(hyp['Race'])

In [5]:
races

array([4, 3, 1, 2], dtype=int64)

In [6]:
# Grouping the marks for Math1 based on the value of race in races
d_data = { race:hyp['Math1'][hyp['Race'] == race] for race in races }

In [7]:
d_data

{1: 7      45
 23     57
 24     45
 38     44
 49     59
 52     61
 55     44
 57     39
 59     52
 69     49
 75     43
 79     54
 83     48
 93     52
 98     40
 111    41
 114    57
 120    50
 138    33
 140    43
 143    48
 148    46
 153    49
 171    39
 Name: Math1, dtype: int64, 2: 29     49
 50     61
 90     66
 127    54
 131    72
 173    62
 184    66
 185    64
 187    42
 193    42
 195    52
 Name: Math1, dtype: int64, 3: 6      42
 9      52
 14     50
 22     45
 25     46
 43     43
 46     39
 102    49
 108    46
 119    40
 124    45
 129    41
 137    55
 139    49
 149    44
 150    43
 159    67
 172    42
 174    44
 189    53
 Name: Math1, dtype: int64, 4: 0      41
 1      53
 2      54
 3      47
 4      57
 5      51
 8      54
 10     51
 11     51
 12     71
 13     57
 15     43
 16     51
 17     60
 18     62
 19     57
 20     35
 21     75
 26     66
 27     57
 28     49
 30     57
 31     64
 32     63
 33     57
 34     50
 35     58
 36     75
 37     68
 39     40
        ..
 160    53
 161    50
 162    51
 163    72
 164    48
 165    40
 166    53
 167    39
 168    63
 169    51
 170    45
 175    65
 176    63
 177    54
 178    45
 179    60
 180    49
 181    48
 182    57
 183    55
 186    55
 188    56
 190    41
 191    42
 192    53
 194    60
 196    38
 197    57
 198    58
 199    65
 Name: Math1, Length: 145, dtype: int64}

In [8]:
# To view the value of Math1 marks for the race 1 or race 4 - 
# d_data[1]
d_data[3]

6      42
9      52
14     50
22     45
25     46
43     43
46     39
102    49
108    46
119    40
124    45
129    41
137    55
139    49
149    44
150    43
159    67
172    42
174    44
189    53
Name: Math1, dtype: int64

In [9]:
# Applying f-test - one way anova
st.f_oneway(d_data[1],d_data[2],d_data[3],d_data[4])

# output: F_onewayResult(statistic=7.703265387359707, pvalue=6.840198626500769e-05)

F_onewayResult(statistic=7.703265387359707, pvalue=6.840198626500769e-05)

CONCLUSION

p-value is less than alpha; reject null hypothesis <br/>
Math marks are significantly different between races