# Chi Squared Test

Chi-square test of independence of variables in a contingency table.

### Categorical Variable: 
A categorical variable is a variable that may take on one of a set of labels. An example might be sex, which may be summarized as male or female.

### Contingency Table:
A contingency table is a multi-way table that describes a data set in which each observation belongs to one category for each of several variables.

### Chi-Square Test:
A chi-square test is a statistical hypothesis test where the null hypothesis that the distribution of the test statistic is a chi-square distribution, is true.

A chi-square test tells us whether there's a significant difference between observed numbers and expected numbers. If the difference is large, it implies that there may be something causing a significant change. A significantly large difference implies that we can reject the null hypothesis (Ho), which is defined as the prediction that there is no interaction between variables. Basically, if there is a significant difference between the scores, then we can say something significant happened. If the scores are too close, then we have to conclude that they are basically the same.

In [1]:
import scipy.stats as st
import numpy as np
import pandas as pd
import statsmodels.api as sm

E:\Python\Anaconda\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
df = sm.datasets.get_rdataset("Arthritis", "vcd").data

In [3]:
df.head()

   ID Treatment   Sex  Age Improved
0  57   Treated  Male   27     Some
1  46   Treated  Male   29     None
2  77   Treated  Male   30     None
3  17   Treated  Male   32   Marked
4  36   Treated  Male   46   Marked

In [4]:
df.tail()

    ID Treatment     Sex  Age Improved
79  32   Placebo  Female   66     None
80  42   Placebo  Female   66     None
81  15   Placebo  Female   66     Some
82  71   Placebo  Female   68     Some
83   1   Placebo  Female   74   Marked

In [5]:
tab = pd.crosstab(df['Treatment'], df['Improved'])

In [6]:
tab

Improved   Marked  None  Some
Treatment
Placebo         7    29     7
Treated        21    13     7

In [7]:
tab = tab.loc[:, ["None", "Some", "Marked"]]

In [8]:
tab

Improved   None  Some  Marked
Treatment
Placebo      29     7       7
Treated      13     7      21

In [9]:
# statsmodels.stats.Table is the most basic class for working with contingency tables

table = sm.stats.Table(tab)

In [10]:
table

In [11]:
table.fittedvalues

Improved   None      Some     Marked
Treatment
Placebo    21.5  7.166667  14.333333
Treated    20.5  6.833333  13.666667

In [12]:
table.table_orig

Improved   None  Some  Marked
Treatment
Placebo      29     7       7
Treated      13     7      21

In [13]:
table.table

array([[29.,  7.,  7.],
       [13.,  7., 21.]])

In [14]:
table.resid_pearson

Improved       None      Some    Marked
Treatment
Placebo    1.617492 -0.062257 -1.936992
Treated   -1.656473  0.063758  1.983673

In [15]:
table.fittedvalues

Improved   None      Some     Marked
Treatment
Placebo    21.5  7.166667  14.333333
Treated    20.5  6.833333  13.666667

Compared to a sample from a population in which the rows and columns are independent, we have too many observations in the <b>placebo/no improvement</b> and <b>treatment/marked</b> improvement cells, and too few observations in the <i>placebo/marked</i> improvement and <i>treated/no improvement</i> cells. This reflects the apparent benefits of the treatment.

In [16]:
result = table.test_nominal_association()

In [17]:
result

In [18]:
result.statistic

13.055019852524108

In [19]:
result.pvalue

0.0014626434089526352

In [20]:
result = table.test_ordinal_association()

In [21]:
result

In [22]:
result.pvalue

0.00033585683854043673

In [23]:
result.statistic

49.0

In [24]:
table2 = sm.stats.Table.from_data(df[["Treatment", "Improved"]])

In [25]:
table2

In [26]:
table2.fittedvalues

Improved      Marked  None      Some
Treatment
Placebo    14.333333  21.5  7.166667
Treated    13.666667  20.5  6.833333

In [27]:
table2.table_orig

Improved   Marked  None  Some
Treatment
Placebo         7    29     7
Treated        21    13     7

In [28]:
table2.resid_pearson

Improved     Marked      None      Some
Treatment
Placebo   -1.936992  1.617492 -0.062257
Treated    1.983673 -1.656473  0.063758

In [29]:
from statsmodels.graphics.mosaicplot import mosaic

In [30]:
mosaic(table.table)

(<Figure size 640x480 with 3 Axes>,
 OrderedDict([(('0', '0'), (0.0, 0.0, 0.5093579720445393, 0.6699522562759894)),
              (('0', '1'),
               (0.0,
                0.673263514554135,
                0.5093579720445393,
                0.16171261358385958)),
              (('0', '2'),
               (0.0,
                0.8382873864161404,
                0.5093579720445393,
                0.16171261358385947)),
              (('1', '0'),
               (0.5143330964226487,
                0.0,
                0.4856669035773514,
                0.3149733484089808)),
              (('1', '1'),
               (0.5143330964226487,
                0.31828460668712655,
                0.4856669035773514,
                0.16960103375868196)),
              (('1', '2'),
               (0.5143330964226487,
                0.4911968987239541,
                0.4856669035773514,
                0.5088031012760459))]))

In [31]:
table.local_oddsratios

Improved       None  Some  Marked
Treatment
Placebo    2.230769   3.0     NaN
Treated         NaN   NaN     NaN

In [32]:
table.cumulative_oddsratios

Improved       None  Some  Marked
Treatment
Placebo    4.461538   5.4     NaN
Treated         NaN   NaN     NaN

### Problem 2

In [33]:
df2 = sm.datasets.get_rdataset("VisualAcuity", "vcd").data

In [34]:
df2.tail()

    Freq  right  left gender
27   106      4     3   male
28    35      1     4   male
29    27      2     4   male
30    87      3     4   male
31   331      4     4   male

In [35]:
df2 = df2.loc[df2.gender == "female", :]

In [36]:
df2

    Freq  right  left  gender
0   1520      1     1  female
1    234      2     1  female
2    117      3     1  female
3     36      4     1  female
4    266      1     2  female
5   1512      2     2  female
6    362      3     2  female
7     82      4     2  female
8    124      1     3  female
9    432      2     3  female
10  1772      3     3  female
11   179      4     3  female
12    66      1     4  female
13    78      2     4  female
14   205      3     4  female
15   492      4     4  female

In [37]:
tab2 = df2.set_index(['left', 'right'])

In [38]:
tab2

            Freq  gender
left right
1    1      1520  female
     2       234  female
     3       117  female
     4        36  female
2    1       266  female
     2      1512  female
     3       362  female
     4        82  female
3    1       124  female
     2       432  female
     3      1772  female
     4       179  female
4    1        66  female
     2        78  female
     3       205  female
     4       492  female

In [39]:
del tab2["gender"]

In [40]:
tab2.head()

            Freq
left right
1    1      1520
     2       234
     3       117
     4        36
2    1       266

In [41]:
tab2

            Freq
left right
1    1      1520
     2       234
     3       117
     4        36
2    1       266
     2      1512
     3       362
     4        82
3    1       124
     2       432
     3      1772
     4       179
4    1        66
     2        78
     3       205
     4       492

In [42]:
tab2 = tab2.unstack()

In [43]:
tab2

       Freq
right     1     2     3    4
left
1      1520   234   117   36
2       266  1512   362   82
3       124   432  1772  179
4        66    78   205  492

In [44]:
tab2.columns = tab2.columns.get_level_values(1)

In [45]:
tab2

right     1     2     3    4
left
1      1520   234   117   36
2       266  1512   362   82
3       124   432  1772  179
4        66    78   205  492

In [46]:
# create a SquareTable object from the Contingency table

sqtab2 = sm.stats.SquareTable(tab2)

In [47]:
sqtab2

In [48]:
row, col = sqtab2.marginal_probabilities

In [49]:
row

right
1    0.255049
2    0.297178
3    0.335295
4    0.112478
dtype: float64

In [50]:
col

right
1    0.264277
2    0.301725
3    0.328474
4    0.105524
dtype: float64

In [51]:
# results for the symmetry and homogeneity testing procedures

sqtab2.summary()

In [52]:
type(df2)

pandas.core.frame.DataFrame

In [53]:
df2.head(2)

   Freq  right  left  gender
0  1520      1     1  female
1   234      2     1  female

In [54]:
df3 = sm.datasets.get_rdataset("VisualAcuity", "vcd").data

In [55]:
del df3["gender"]

In [56]:
df3.head(1)

   Freq  right  left
0  1520      1     1

In [57]:
sqtab3 = sm.stats.SquareTable.from_data(df3[['left', 'right']])

In [58]:
sqtab3.summary()

### Single 2x2 table

In [59]:
table4 = np.asarray([[35, 21], [25, 58]])

In [60]:
table4

array([[35, 21],
       [25, 58]])

In [61]:
t23 = sm.stats.Table2x2(table4)

In [62]:
t23.summary()

Note that the risk ratio is not symmetric so different results will be obtained if the transposed table is analyzed.

In [63]:
table5 = np.asarray([[35, 21], [25, 58]])

In [64]:
t24 = sm.stats.Table2x2(table5.T)

In [65]:
t24.summary()

### Stratified 2x2 tables

Stratification occurs when we have a collection of contingency tables defined by the same row and column factors.

In [66]:
data7 = sm.datasets.china_smoking.load()

In [67]:
mat7 = np.asarray(data7.data)

In [68]:
mat7

array([('Beijing', 126, 100,  35,  61), ('Shanghai', 908, 688, 497, 807),
       ('Shenyang', 913, 747, 336, 598), ('Nanjng', 235, 172,  58, 121),
       ('Harbin', 402, 308, 121, 215), ('Zhengzhou', 182, 156,  72,  98),
       ('Taiyuan',  60,  99,  11,  43), ('Nanchang', 104,  89,  21,  36)],
      dtype=(numpy.record, [('Location', 'O'), ('smoking_yes_cancer_yes', '<i8'), ('smoking_yes_cancer_no', '<i8'), ('smoking_no_cancer_yes', '<i8'), ('smoking_no_cancer_no', '<i8')]))

In [69]:
tables = [np.reshape(x.tolist()[1:], (2, 2)) for x in mat7]

In [70]:
st1 = sm.stats.StratifiedTable(tables)

In [71]:
st1.summary()

### Contingency Table | Scipy Stats

In [72]:
from scipy.stats import chi2_contingency
from scipy.stats import chisquare

In [73]:
obs = np.array([[10, 11, 12, 20], [20, 21, 22, 20]])

In [74]:
obs

array([[10, 11, 12, 20],
       [20, 21, 22, 20]])

In [75]:
chi2_contingency(obs)

(2.92414942790028,
 0.40346829452390043,
 3,
 array([[11.69117647, 12.47058824, 13.25      , 15.58823529],
        [18.30882353, 19.52941176, 20.75      , 24.41176471]]))

This function computes the chi-square statistic and p-value for the hypothesis test of independence of the observed frequencies in the contingency table observed.

In [76]:
chi1, p, dof, expctd = chi2_contingency(obs, lambda_="log-likelihood")

In [77]:
chi1, p

(2.888673122505933, 0.4091099803507964)

An often quoted guideline for the validity of this calculation is that the test should be used only if the observed and expected frequencies in each cell are at least 5.

This is a test for the independence of different categories of a population. The test is only meaningful when the dimension of observed is two or more. Applying the test to a one-dimensional table will always result in expected equal to observed and a chi-square statistic equal to 0.

This function does not handle masked arrays, because the calculation does not make sense with missing values.

Like stats.chisquare, this function computes a chi-square statistic; the convenience this function provides is to figure out the expected frequencies and degrees of freedom from the given contingency table. If these were already known, and if the Yates’ correction was not required, one could use stats.chisquare.

In [78]:
chi2, p, dof, ex = chi2_contingency(obs, correction=False)

In [79]:
chi2, p

(2.92414942790028, 0.40346829452390043)

In [80]:
(chi2, p) == chisquare(obs.ravel(), f_exp=ex.ravel(), ddof=obs.size - 1 - dof)

True

In [81]:
from scipy.stats import chi2

In [82]:
dat = np.array([[20, 30, 15], [20, 15, 30]])

In [83]:
stat, p, dof, expected = chi2_contingency(dat)

In [84]:
stat, p

(10.0, 0.006737946999085468)

In [85]:
dof

2

In [86]:
# interpret test-statistic
# significance level of 5%
prob = 0.95
critical = chi2.ppf(prob, dof)
if abs(stat) >= critical:
    print('Dependent (reject Ho)')
else:
    print('Independent (fail to reject Ho)')

Dependent (reject Ho)

In [87]:
alpha = 0.05

In [88]:
if p <= alpha:
    print('Dependent (reject Ho)')
else:
    print('Independent (fail to reject Ho)')

Dependent (reject Ho)

#### References

1. Contingency tables <br/>
http://www.statsmodels.org/dev/contingency_tables.html

2. scipy.stats.chi2_contingency <br/>
https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html