PROBLEM

Given the list of prices of houses in New York suburb (stats_interval_estimate_1.csv). <br/>
Come up with an interval estimate of prices with 95% confidence level.

SOLUTION

Since the number of samples, n = 1047, <br/>
distribution of sample means is considered/assumed normal

In [1]:
import os
import math as m
import pandas as pd
import scipy.stats as st

In [2]:
os.getcwd()

'C:\\Users\\praveen\\DS_Notebooks\\hgwxx7'

In [3]:
data = pd.read_csv("stats_interval_estimate_1.csv")

In [4]:
data.head()

   Price
0  16858
1  26049
2  26130
3  31113
4  40932

In [5]:
data.dtypes

Price    int64
dtype: object

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047 entries, 0 to 1046
Data columns (total 1 columns):
Price    1047 non-null int64
dtypes: int64(1)
memory usage: 8.3 KB

In [7]:
data.describe()

               Price
count    1047.000000
mean   163862.125119
std     67651.558917
min     16858.000000
25%    112014.000000
50%    151917.000000
75%    205235.000000
max    446436.000000

In [8]:
n = 1047

In [9]:
mean = data["Price"].mean()

In [10]:
mean

163862.12511938874

In [11]:
std = data["Price"].std()

In [12]:
std

67651.55891678006

In [13]:
sigma = std / m.sqrt(n)

In [14]:
sigma

2090.761372647506

In [15]:
# st.norm.interval(confidence, loc=mean, scale=sigma)
st.norm.interval(0.95, loc=mean, scale=sigma)

(159764.3081287321, 167959.94211004538)

CONCLUSION

The price interval of the houses are between 159764 and 167959,<br/>
with a confidence level of 95%