In [1]:
# load libraries

import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor

In [2]:
df = pd.read_csv('insurance_claims.csv')

In [3]:
df.columns

Index(['CustomerID', 'State', 'ClaimAmount', 'Education', 'Income', 'Gender',
       'Policy', 'NumberOfPolicies', 'PolicyType', 'MonthsInstallment',
       'VehicleType', 'TotalClaimAmount'],
      dtype='object')

In [4]:
df.dtypes

CustomerID            object
State                 object
ClaimAmount            int64
Education             object
Income                 int64
Gender                object
Policy                object
NumberOfPolicies       int64
PolicyType            object
MonthsInstallment      int64
VehicleType           object
TotalClaimAmount     float64
dtype: object

In [5]:
df.head()

,CustomerID,State,ClaimAmount,Education,Income,Gender,Policy,NumberOfPolicies,PolicyType,MonthsInstallment,VehicleType,TotalClaimAmount
0,CID311,IA,59,High School,196419,M,Auto,4,Business,70,MUV,112.09
1,CID838,PH,71,Professional,171186,F,Auto,4,Business,31,Medium sized,113.47
2,CID607,PH,103,Graduate,285004,F,Auto,4,Self Auto,67,Sedan,113.86
3,CID436,TX,103,Professional,181780,M,Auto,4,Corporate Auto,78,Medium sized,114.16
4,CID018,PH,112,College,275022,F,Auto,3,Self Auto,21,Medium sized,116.19

In [6]:
df.describe(include='all')

,CustomerID,State,ClaimAmount,Education,Income,Gender,Policy,NumberOfPolicies,PolicyType,MonthsInstallment,VehicleType,TotalClaimAmount
count,1000,1000,1000.000000,1000,1000.000000,1000,1000,1000.000000,1000,1000.000000,1000,1000.000000
unique,1000,5,NaN,5,NaN,2,1,NaN,5,NaN,4,NaN
top,CID237,TX,NaN,Professional,NaN,M,Auto,NaN,Self Auto,NaN,Medium sized,NaN
freq,1,222,NaN,224,NaN,513,1000,NaN,274,NaN,270,NaN
mean,NaN,NaN,4973.940000,NaN,154488.310000,NaN,NaN,2.544000,NaN,48.376000,NaN,5915.439893
std,NaN,NaN,2765.799312,NaN,86622.613704,NaN,NaN,1.115934,NaN,27.776396,NaN,4870.864260
min,NaN,NaN,59.000000,NaN,681.000000,NaN,NaN,1.000000,NaN,1.000000,NaN,0.000000
25%,NaN,NaN,2700.500000,NaN,80608.750000,NaN,NaN,2.000000,NaN,25.000000,NaN,2282.432500
50%,NaN,NaN,4962.500000,NaN,156377.500000,NaN,NaN,3.000000,NaN,48.000000,NaN,4398.613500
75%,NaN,NaN,7217.000000,NaN,231740.250000,NaN,NaN,4.000000,NaN,72.000000,NaN,7688.697500
max,NaN,NaN,9981.000000,NaN,299783.000000,NaN,NaN,4.000000,NaN,96.000000,NaN,19978.970000

## One hot encoding

In [7]:
df_1 = df.drop(['CustomerID','TotalClaimAmount'], axis=1)

In [8]:
one_hot_encoded_training_predictors = pd.get_dummies(df_1)
one_hot_encoded_training_predictors

,ClaimAmount,Income,NumberOfPolicies,MonthsInstallment,State_AL,State_IA,State_OH,State_PH,State_TX,Education_College,...,Policy_Auto,PolicyType_Business,PolicyType_Corporate Auto,PolicyType_International,PolicyType_Self Auto,PolicyType_Service,VehicleType_MUV,VehicleType_Medium sized,VehicleType_SUV,VehicleType_Sedan
0,59,196419,4,70,0,1,0,0,0,0,...,1,1,0,0,0,0,1,0,0,0
1,71,171186,4,31,0,0,0,1,0,0,...,1,1,0,0,0,0,0,1,0,0
2,103,285004,4,67,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
3,103,181780,4,78,0,0,0,0,1,0,...,1,0,1,0,0,0,0,1,0,0
4,112,275022,3,21,0,0,0,1,0,1,...,1,0,0,0,1,0,0,1,0,0
5,119,36835,3,27,1,0,0,0,0,1,...,1,0,0,0,1,0,1,0,0,0
6,121,34815,1,88,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,1,0
7,128,37797,4,72,0,0,0,1,0,1,...,1,0,0,0,1,0,0,0,1,0
8,130,217877,3,95,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,0,1
9,135,35277,1,1,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
10,139,13091,2,86,0,0,0,0,1,0,...,1,0,0,0,1,0,1,0,0,0
11,145,101487,2,49,0,1,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
12,195,113176,3,54,0,0,1,0,0,0,...,1,1,0,0,0,0,0,1,0,0
13,211,237521,2,70,0,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
14,213,242451,2,77,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,1
15,216,25374,2,75,0,0,0,1,0,0,...,1,0,1,0,0,0,0,0,0,1
16,220,65925,3,11,0,0,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0
17,221,276355,3,40,0,0,0,1,0,0,...,1,0,0,0,0,1,1,0,0,0
18,251,110332,4,31,1,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
19,261,211808,1,21,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,1,0
20,281,146962,4,7,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,1,0
21,288,62186,3,77,0,0,0,1,0,0,...,1,1,0,0,0,0,0,1,0,0
22,298,179376,3,33,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,1,0
23,325,38535,3,29,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,1,0
24,338,213503,1,89,0,0,0,1,0,0,...,1,0,0,0,1,0,1,0,0,0
25,339,72154,3,6,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,1,0
26,343,257318,2,36,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,1,0
27,360,148117,1,85,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
28,370,2123,3,6,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,1,0
29,379,39936,1,3,1,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,9646,293016,2,45,0,0,1,0,0,0,...,1,0,0,0,0,1,0,1,0,0
971,9648,134268,4,11,0,0,0,1,0,0,...,1,0,0,0,1,0,0,1,0,0
972,9657,136911,4,38,1,0,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
973,9702,133377,2,84,0,0,0,0,1,1,...,1,1,0,0,0,0,1,0,0,0
974,9706,192462,2,24,0,0,0,0,1,0,...,1,0,0,0,0,1,0,1,0,0
975,9732,95955,3,57,0,0,0,0,1,0,...,1,1,0,0,0,0,1,0,0,0
976,9880,176737,1,7,1,0,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
977,9893,56586,1,65,1,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,1
978,9894,106329,3,56,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,1
979,9895,129505,1,70,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,1,0
980,9901,3751,2,74,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
981,9914,23088,4,62,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,1
982,9921,276304,2,16,0,0,0,1,0,0,...,1,0,0,0,0,1,0,1,0,0
983,9932,80110,3,54,0,1,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
984,9944,206371,2,30,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0
985,9946,278986,2,50,1,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
986,9981,198841,2,90,0,1,0,0,0,0,...,1,1,0,0,0,0,1,0,0,0
987,9865,272614,1,38,0,1,0,0,0,0,...,1,0,0,0,1,0,1,0,0,0
988,9871,291118,1,27,1,0,0,0,0,1,...,1,0,0,0,1,0,0,1,0,0
989,9735,207202,3,50,0,0,1,0,0,0,...,1,0,1,0,0,0,0,0,1,0
990,9736,171682,3,39,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
991,9780,160573,3,69,0,0,0,1,0,0,...,1,0,1,0,0,0,0,0,0,1
992,9798,223622,1,71,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
993,9812,44293,2,38,1,0,0,0,0,0,...,1,1,0,0,0,0,1,0,0,0
994,9815,207620,4,56,0,0,1,0,0,1,...,1,1,0,0,0,0,0,0,0,1
995,9827,28758,2,36,0,1,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
996,9828,13599,2,57,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
997,9850,216482,1,17,0,0,0,1,0,0,...,1,0,0,1,0,0,0,1,0,0
998,9865,155418,4,85,1,0,0,0,0,1,...,1,0,0,0,1,0,1,0,0,0
999,9871,70775,1,47,0,0,1,0,0,0,...,1,0,1,0,0,0,0,1,0,0

In [9]:
# Mean Absolute Error (MAE)
def get_mae(X, y):
    # multiple by -1 to make positive MAE score
    # instead of neg value returned as sklearn convention
    return -1 * cross_val_score(DecisionTreeRegressor(random_state=131), 
                                X, y, scoring = 'neg_mean_absolute_error').mean()

In [10]:
predictors_without_categoricals = df_1.select_dtypes(exclude=['object'])
predictors_without_categoricals

     ClaimAmount  Income  NumberOfPolicies  MonthsInstallment
0             59  196419                 4                 70
1             71  171186                 4                 31
2            103  285004                 4                 67
3            103  181780                 4                 78
4            112  275022                 3                 21
5            119   36835                 3                 27
6            121   34815                 1                 88
7            128   37797                 4                 72
8            130  217877                 3                 95
9            135   35277                 1                  1
10           139   13091                 2                 86
11           145  101487                 2                 49
12           195  113176                 3                 54
13           211  237521                 2                 70
14           213  242451                 2                 77
15           216   25374                 2                 75
16           220   65925                 3                 11
17           221  276355                 3                 40
18           251  110332                 4                 31
19           261  211808                 1                 21
20           281  146962                 4                  7
21           288   62186                 3                 77
22           298  179376                 3                 33
23           325   38535                 3                 29
24           338  213503                 1                 89
25           339   72154                 3                  6
26           343  257318                 2                 36
27           360  148117                 1                 85
28           370    2123                 3                  6
29           379   39936                 1                  3
..           ...     ...               ...                ...
970         9646  293016                 2                 45
971         9648  134268                 4                 11
972         9657  136911                 4                 38
973         9702  133377                 2                 84
974         9706  192462                 2                 24
975         9732   95955                 3                 57
976         9880  176737                 1                  7
977         9893   56586                 1                 65
978         9894  106329                 3                 56
979         9895  129505                 1                 70
980         9901    3751                 2                 74
981         9914   23088                 4                 62
982         9921  276304                 2                 16
983         9932   80110                 3                 54
984         9944  206371                 2                 30
985         9946  278986                 2                 50
986         9981  198841                 2                 90
987         9865  272614                 1                 38
988         9871  291118                 1                 27
989         9735  207202                 3                 50
990         9736  171682                 3                 39
991         9780  160573                 3                 69
992         9798  223622                 1                 71
993         9812   44293                 2                 38
994         9815  207620                 4                 56
995         9827   28758                 2                 36
996         9828   13599                 2                 57
997         9850  216482                 1                 17
998         9865  155418                 4                 85
999         9871   70775                 1                 47

[1000 rows x 4 columns]

In [11]:
target = df['TotalClaimAmount']

In [12]:
mae_without_categoricals = get_mae(predictors_without_categoricals, target)
mae_without_categoricals

2776.669619541697

In [13]:
mae_one_hot_encoded = get_mae(one_hot_encoded_training_predictors, target)
mae_one_hot_encoded

2546.5719407251563

In [14]:
print('Mean Absolute Error when Dropping Categoricals: ' + str(int(mae_without_categoricals)))
print('Mean Abslute Error with One-Hot Encoding: ' + str(int(mae_one_hot_encoded)))

Mean Absolute Error when Dropping Categoricals: 2776
Mean Abslute Error with One-Hot Encoding: 2546

In [15]:
df_1 = one_hot_encoded_training_predictors
features = list(df_1.columns)
features

['ClaimAmount',
 'Income',
 'NumberOfPolicies',
 'MonthsInstallment',
 'State_AL',
 'State_IA',
 'State_OH',
 'State_PH',
 'State_TX',
 'Education_College',
 'Education_Graduate',
 'Education_High School',
 'Education_Not specified',
 'Education_Professional',
 'Gender_F',
 'Gender_M',
 'Policy_Auto',
 'PolicyType_Business',
 'PolicyType_Corporate Auto',
 'PolicyType_International',
 'PolicyType_Self Auto',
 'PolicyType_Service',
 'VehicleType_MUV',
 'VehicleType_Medium sized',
 'VehicleType_SUV',
 'VehicleType_Sedan']