### Problem statement

    - Which store has the farthest distance to its nearest neighboring store?
    - What % of stores are within 1km, 3km and 5km of another store?
    - Which store has the most other stores within 10km?

In [1]:
# load libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# load data
df = pd.read_csv('store_locations.csv')

In [3]:
# sample
df.sample(5)

     Store       lon      lat
40    2733 -1.317660  54.5878
163   2198 -0.936305  51.4404
41    1939 -1.008210  51.6511
208   1920 -1.426600  51.5800
112    233  0.280909  50.7907

In [4]:
# describe
df.describe()

             Store         lon         lat
count   300.000000  300.000000  300.000000
mean   1394.860000   -2.124941   53.008898
std     872.449717    1.952026    1.916977
min       6.000000   -7.879090   49.955600
25%     612.000000   -3.293575   51.494975
50%    1308.000000   -1.971740   52.454400
75%    2120.000000   -0.332130   54.080725
max    2940.000000    1.301920   57.908400

In [5]:
# sample solution - finding nearest latitude-longitude 

from math import cos, asin, sqrt

def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295
    a = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p)*cos(lat2*p) * (1-cos((lon2-lon1)*p)) / 2
    return 12742 * asin(sqrt(a))

def closest(data, v):
    return min(data, key=lambda p: distance(v['lat'],v['lon'],p['lat'],p['lon']))

tempDataList = [{'lat': 39.7612992, 'lon': -86.1519681}, 
                {'lat': 39.762241,  'lon': -86.158436 }, 
                {'lat': 39.7622292, 'lon': -86.1578917}]

v = {'lat': 39.7622290, 'lon': -86.1519750}
print(closest(tempDataList, v))

{'lat': 39.7612992, 'lon': -86.1519681}

In [6]:
# adding point column to df
df['point'] = [(x, y) for x,y in zip(df['lat'], df['lon'])]

In [7]:
df.tail(7)

     Store       lon      lat                           point
293   2565 -2.892610  52.8970              (52.897, -2.89261)
294   1230 -3.866800  57.5185              (57.5185, -3.8668)
295   1089 -0.287350  51.5607             (51.5607, -0.28735)
296    538  0.861843  51.8544             (51.8544, 0.861843)
297    973 -4.254070  55.8459             (55.8459, -4.25407)
298   1066 -0.617720  51.1864  (51.1864, -0.6177199999999999)
299   2203 -0.133300  51.1167              (51.1167, -0.1333)

In [8]:
from scipy.spatial.distance import cdist

In [9]:
def closest_point(point, points):
    """ Find closest point from a list of points. """
    return points[cdist([point], points).argmin()]

def match_value(df, col1, x, col2):
    """ Match value x from col1 row to value in col2. """
    return df[df[col1] == x][col2].values[0]

In [10]:
tl = list(df['point'])
tl[:5]

[(51.2797, -0.836673),
 (55.8214, -4.08744),
 (51.3476, -0.799592),
 (51.4664, -2.6021799999999997),
 (53.5689, -2.42275)]

In [11]:
# using knn

from sklearn.neighbors import NearestNeighbors

def distance(p1, p2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)
    """
    lon1, lat1 = p1
    lon2, lat2 = p2
    # convert decimal degrees to radians
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])
    # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

points = tl

nbrs = NearestNeighbors(n_neighbors=2, metric=distance).fit(points)

distances, indices = nbrs.kneighbors(points)

result = distances[:, 1]

In [12]:
len(result)

300

In [13]:
result

array([  8.59656755,   6.1049544 ,   8.59656755,   2.43362356,
         4.47198077,   5.48712867,   2.89998426,  17.52605129,
         2.6684596 ,   7.93533518,   2.31342682,  20.93197162,
         3.27043196,   1.45798444,  17.52605129,  50.24568219,
        31.66771248,  10.78946304,   1.48620414,  26.83390248,
        39.83600758,   7.44481885,  22.35199435,  15.33237904,
        11.07917243,  14.76446136,  13.28009768,  14.63925675,
        21.28456305,   7.77873533,   4.82121392,  44.53777362,
        22.36417796,  43.02586313,   4.50080855,  18.70944083,
         4.64084257,  43.3661976 ,   4.01026994,  36.09520344,
         3.62270254,  24.73676751,   1.98076628,   7.46031905,
         1.48620414,   3.40594056,  69.34099116,  42.18862094,
        12.88940191,  40.07025531,  30.09809845,  29.40559247,
         5.14404015,  10.78946304,   9.88272321,  11.26323347,
        45.54666684,  44.77682794,   4.04616361,  17.56663102,
         5.14404015,  11.55644564,  10.14200074,  21.96815115,
         4.29902059,  32.91833332,  12.08053562,  66.09052943,
        31.29280712,  36.01684563,   5.21030394,  38.77418005,
        17.0311297 ,  61.97134431,   7.42097927,  23.43863885,
        13.50821039,   5.25663609,  14.63925675,   4.01026994,
        15.59248358,  52.20496043,   9.26481327,  10.41327429,
         4.08275239,   3.35109343,   5.0267256 ,  59.12186876,
        26.46946015,  26.37721153,  12.78939081,  26.24068083,
        12.06652023,   4.31828068,  26.40339613,  29.40559247,
        26.37721153,   2.31342682,   5.25663609,  12.88940191,
        59.12714711,  81.10794804,   5.7566345 ,   1.64373033,
        20.09980369,   0.33188126,   2.89998426,  17.0311297 ,
        70.87565048,  12.42269405,  18.55938418,  12.55911139,
        29.98048746,  25.37179742,  11.26323347,   3.27043196,
        44.71457633,   3.68762739,  27.62474265,  12.78939081,
         1.98076628,  35.43511341,  29.50607034,  21.80291694,
        23.40567885,   2.45854817,  20.70192015,  21.5918519 ,
        21.61999899,   3.43269672,  27.86982811,  45.86561181,
         8.93983219,   7.09084498,  20.09980369,   4.95578842,
        26.40339613,  15.31557947,  12.06652023,  50.46247214,
         4.47198077,   3.81498151,   1.38974007,   6.07232403,
         4.89511681,  10.26117999,  11.95474372,  33.74890558,
         3.67608779,  49.73825119,   0.60822153,   0.27925693,
         6.1049544 ,  12.8737048 ,   2.30331112,   3.62270254,
         6.27017303,  35.43511341,   3.54427478,   9.52543501,
         4.19922044,  21.28456305,   4.50080855,  18.36098436,
        65.87033589,   3.81498151,  21.32136226,   5.62180194,
         5.63170859,  40.9341308 ,  31.62956925,  24.8235921 ,
         6.82228609,  22.26045656,  10.41327429,   0.60822153,
         7.09084498,  13.39213405,   8.69667506,   2.30331112,
        57.23316323,  52.20496043,  20.32483246,  31.49053889,
         3.04929079,  14.18975655,  10.63241885,   4.31828068,
         3.7296827 ,   3.78128045,   4.99589526,   0.33188126,
        56.06978304,  13.15745852,  18.06460774,  30.09809845,
         4.64084257,   6.07176625,   8.93983219,   7.2529724 ,
        65.87033589,  42.33578129,  39.79703011,   9.01182477,
         0.27925693,  37.7664051 ,  26.83390248,  13.15745852,
        36.68427349,   7.93533518,  10.35523601,   7.79657324,
        20.80244764,  16.25357639,  23.51804179,   3.40594056,
       130.43257311,   2.6684596 ,   0.88510981,  15.59248358,
        38.77418005,   6.07176625,  11.18629556,  18.55938418,
         2.30115744,  25.37179742,   2.18161577,   1.64373033,
        27.92685928,   2.45854817,   3.04929079,  15.33237904,
         4.82121392,   3.68762739,  14.67375579,   7.44481885,
         9.84821521,   9.84821521,  21.043604  ,  17.96607488,
         3.7296827 ,  22.34499748,  12.33293139,  55.47221578,
         3.73047172,   4.95578842,   5.70951715,  11.64080544,
         9.2981745 ,  11.55644564,  19.4666603 ,  10.14200074,
        22.34499748,  13.85905277,   5.70951715,   4.29902059,
        25.21740356,  12.55911139,  46.2984289 ,  20.93197162,
        29.0479578 ,  97.00645915,  18.70944083,  26.46946015,
        46.2984289 ,   1.45798444,   0.90910887,  11.93457257,
        26.24068083,   9.01182477,   6.82228609,   1.38974007,
         6.55297907,  29.98794755,   3.73047172,  43.63029126,
        46.51006562,   7.43126617,  44.01694904,  24.40463211,
         4.19922044,  35.45906527,   6.3041189 ,  11.14007796,
         6.39548038,  16.72219093,  21.32136226,   5.62180194,
        13.39213405,   9.2981745 ,   5.40592525,  62.41148017,
         7.42097927,  14.76446136,  31.29280712,   4.04616361,
         5.7566345 ,   3.67608779,  12.33293139,  11.14007796])

In [14]:
tl = list(df['point'].values)
tl[:5]

tlx = []
for x in tl:
    tlx.append([x[0],x[1]])

tlx[:5]

[[51.2797, -0.836673],
 [55.8214, -4.08744],
 [51.3476, -0.799592],
 [51.4664, -2.6021799999999997],
 [53.5689, -2.42275]]

In [15]:
# simple approach

# closest node
def closest_node(node, nodes):
    closest_index = cdist([node], nodes).argmin()
    return nodes[closest_index]

closest_node(tlx[0], tlx[1:])

[51.3476, -0.799592]

In [16]:
len(tlx)

300

In [17]:
fl = []
tlx__ = tlx

for i,x in enumerate(tlx):
    tlx__.remove(x)
    fl.append(closest_node(x, tlx__))
    tlx__.append(x)

In [18]:
len(fl)

300

In [19]:
df['closest'] = fl

In [20]:
df.sample(5)

,Store,lon,lat,point,closest
17,150,-2.431480,53.7869,"(53.7869, -2.43148)","[52.0192, -0.301697]"
178,1165,-0.290115,53.7583,"(53.7583, -0.290115)","[50.9837, 0.09239299999999999]"
135,1559,-1.602300,53.8590,"(53.858999999999995, -1.6023)","[52.0642, -0.7821279999999999]"
138,1534,-4.263900,53.2927,"(53.2927, -4.2639)","[57.1434, -2.1995299999999998]"
22,1492,-3.803080,53.2966,"(53.2966, -3.8030800000000005)","[51.5106, -0.33541]"

In [21]:
# adding point column to df
df['point'] = [(x, y) for x,y in zip(df['lat'], df['lon'])]

In [22]:
from scipy.spatial.distance import cdist

In [23]:
# closest node
def closest_node(node, nodes):
    closest_index = cdist([node], nodes).argmin()
    return nodes[closest_index]

In [24]:
tl = list(df['point'].values)

tlx = []
tlx__ = []
for x in tl:
    tlx.append([x[0],x[1]])
    tlx__.append([x[0],x[1]])

tlx[:5]

[[51.2797, -0.836673],
 [55.8214, -4.08744],
 [51.3476, -0.799592],
 [51.4664, -2.6021799999999997],
 [53.5689, -2.42275]]

In [25]:
fl = []

for i,x in enumerate(tlx):
    tlx__.remove(x)
    fl.append(closest_node(x, tlx__))
    tlx__.append(x)

In [26]:
df['closest'] = fl

In [27]:
df

,Store,lon,lat,point,closest
0,1063,-0.836673,51.2797,"(51.2797, -0.836673)","[51.3476, -0.799592]"
1,989,-4.087440,55.8214,"(55.8214, -4.08744)","[55.8688, -4.115419999999999]"
2,1061,-0.799592,51.3476,"(51.3476, -0.799592)","[51.2797, -0.836673]"
3,302,-2.602180,51.4664,"(51.4664, -2.6021799999999997)","[51.4591, -2.58153]"
4,212,-2.422750,53.5689,"(53.5689, -2.42275)","[53.5937, -2.3910400000000003]"
5,469,-3.011910,53.3970,"(53.397, -3.01191)","[53.4386, -2.98522]"
6,132,-2.640290,50.9610,"(50.961000000000006, -2.6402900000000002)","[50.9676, -2.61504]"
7,288,-2.414050,51.5332,"(51.5332, -2.41405)","[51.6878, -2.44592]"
8,761,-2.085180,52.4923,"(52.4923, -2.08518)","[52.4744, -2.0691599999999997]"
9,2126,-0.924921,50.8473,"(50.8473, -0.9249209999999999)","[50.803999999999995, -0.981709]"
10,2503,0.706823,51.5570,"(51.556999999999995, 0.706823)","[51.5492, 0.687521]"
11,2658,0.728762,51.1564,"(51.1564, 0.728762)","[51.3447, 0.734229]"
12,11,-2.112090,57.1628,"(57.1628, -2.1120900000000002)","[57.1872, -2.12857]"
13,366,-5.925270,54.5802,"(54.5802, -5.925269999999999)","[54.5927, -5.92946]"
14,1008,-2.445920,51.6878,"(51.6878, -2.44592)","[51.5332, -2.41405]"
15,2025,0.331801,53.1624,"(53.1624, 0.331801)","[53.2194, -0.116746]"
16,2328,-5.051290,51.8371,"(51.8371, -5.05129)","[51.8798, -4.7695099999999995]"
17,150,-2.431480,53.7869,"(53.7869, -2.43148)","[53.754, -2.52284]"
18,2805,-0.335410,51.5106,"(51.5106, -0.33541)","[51.5132, -0.322291]"
19,369,-7.641880,54.4021,"(54.4021, -7.6418800000000005)","[54.4477, -7.87909]"
20,1512,-4.220340,52.9359,"(52.9359, -4.22034)","[53.2927, -4.2639]"
21,2367,0.023439,51.4690,"(51.468999999999994, 0.023438999999999998)","[51.5255, 0.05944]"
22,1492,-3.803080,53.2966,"(53.2966, -3.8030800000000005)","[53.2185, -3.61765]"
23,2460,-1.124840,51.0903,"(51.0903, -1.12484)","[51.2258, -1.15099]"
24,262,0.177066,51.3941,"(51.3941, 0.177066)","[51.465, 0.10697100000000001]"
25,1474,-2.940740,53.0210,"(53.021, -2.9407400000000004)","[52.897, -2.89261]"
26,2898,-1.819550,52.6465,"(52.6465, -1.81955)","[52.5461, -1.88445]"
27,2915,-2.487780,52.5068,"(52.5068, -2.48778)","[52.5089, -2.35606]"
28,1886,1.229840,52.6721,"(52.6721, 1.22984)","[52.4946, 1.30192]"
29,494,-2.976730,53.3364,"(53.3364, -2.97673)","[53.397, -3.01191]"
...,...,...,...,...,...
270,1666,-0.843227,52.0702,"(52.0702, -0.8432270000000001)","[52.0642, -0.7821279999999999]"
271,2766,-0.426496,51.4669,"(51.4669, -0.426496)","[51.4544, -0.426095]"
272,2750,-0.322264,51.4476,"(51.4476, -0.322264)","[51.4641, -0.26565]"
273,2701,-5.495280,50.1277,"(50.1277, -5.49528)","[50.2298, -5.2453]"
274,851,-3.266010,55.9648,"(55.9648, -3.2660099999999996)","[55.9318, -3.25957]"
275,1414,-2.793110,54.0391,"(54.0391, -2.79311)","[53.754, -2.52284]"
276,29,-2.563340,57.3505,"(57.3505, -2.56334)","[57.1434, -2.1995299999999998]"
277,546,-0.071630,51.3628,"(51.3628, -0.07163)","[51.3064, -0.035699]"
278,1501,-3.856900,52.7780,"(52.778, -3.8569)","[52.9359, -4.22034]"
279,687,-1.485030,54.7543,"(54.7543, -1.4850299999999999)","[54.6198, -1.31139]"
280,884,-0.034704,51.6999,"(51.6999, -0.034704)","[51.7375, -0.038471]"
281,2482,-2.302710,51.0330,"(51.033, -2.30271)","[50.9676, -2.61504]"
282,2776,-0.411092,51.5215,"(51.5215, -0.411092)","[51.4669, -0.426496]"
283,2210,-0.098193,51.0228,"(51.0228, -0.09819299999999999)","[51.1167, -0.1333]"
284,205,-1.830800,50.7385,"(50.7385, -1.8308)","[50.7526, -1.8866]"
285,119,-1.970090,52.2961,"(52.2961, -1.9700900000000001)","[52.4207, -1.8856099999999998]"
286,2693,-5.055820,50.2601,"(50.2601, -5.05582)","[50.2298, -5.2453]"
287,1890,-0.196588,51.5779,"(51.5779, -0.196588)","[51.628, -0.189563]"
288,1643,0.487237,51.2739,"(51.2739, 0.487237)","[51.3858, 0.531992]"
289,832,-3.043980,55.8923,"(55.8923, -3.04398)","[55.8131, -3.0713]"
290,1556,-1.641730,53.8105,"(53.8105, -1.64173)","[53.8153, -1.59332]"
291,910,-3.939560,50.9791,"(50.9791, -3.9395599999999997)","[50.6958, -3.4542699999999997]"
292,1294,-4.723570,55.7287,"(55.7287, -4.72357)","[55.7431, -4.65835]"
293,2565,-2.892610,52.8970,"(52.897, -2.89261)","[53.021, -2.9407400000000004]"
294,1230,-3.866800,57.5185,"(57.5185, -3.8668)","[57.2772, -3.72076]"
295,1089,-0.287350,51.5607,"(51.5607, -0.28735)","[51.5857, -0.260878]"
296,538,0.861843,51.8544,"(51.8544, 0.861843)","[51.8176, 0.8253790000000001]"
297,973,-4.254070,55.8459,"(55.8459, -4.25407)","[55.8722, -4.23391]"
298,1066,-0.617720,51.1864,"(51.1864, -0.6177199999999999)","[51.1964, -0.507189]"
299,2203,-0.133300,51.1167,"(51.1167, -0.1333)","[51.0228, -0.09819299999999999]"

In [28]:
l1 = [1,2,3,4,5]

# shallow copy
l2 = l1

for i,x in enumerate(l1):
    l2.remove(x)
    print(x, l1, l2)
    l2.append(x)

l1, l2

1 [2, 3, 4, 5] [2, 3, 4, 5]
3 [2, 4, 5, 1] [2, 4, 5, 1]
5 [2, 4, 1, 3] [2, 4, 1, 3]
3 [2, 4, 1, 5] [2, 4, 1, 5]
3 [2, 4, 1, 5] [2, 4, 1, 5]

([2, 4, 1, 5, 3], [2, 4, 1, 5, 3])

In [31]:
import copy

l1 = [1,2,3,4,5]

# deep copy
l2 = copy.deepcopy(l1)

In [32]:
for i,x in enumerate(l1):
    l2.remove(x)
    print(x, l1, l2)
    l2.append(x)

l1, l2

1 [1, 2, 3, 4, 5] [2, 3, 4, 5]
2 [1, 2, 3, 4, 5] [3, 4, 5, 1]
3 [1, 2, 3, 4, 5] [4, 5, 1, 2]
4 [1, 2, 3, 4, 5] [5, 1, 2, 3]
5 [1, 2, 3, 4, 5] [1, 2, 3, 4]

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])