## Loading Large Files

In [1]:
# load libraries

import os
import sys
import gzip
import psutil

import numpy as np
import pandas as pd

In [2]:
psutil.virtual_memory()

svmem(total=4201234432, available=1998589952, percent=52.4, used=2202644480, free=1998589952)

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'destinations.csv.gz',
 'ds_python_loading_large_files_1.ipynb',
 'ds_python_loading_large_files_x.ipynb',
 'sample_submission.csv.gz',
 'test.csv.gz',
 'train.csv',
 'train.csv.gz']

### Reading Large Files in Python

In [4]:
ftrain = 'train.csv'

In [5]:
os.path.getsize(ftrain)

# approx. 4GB file

4070445781

In [6]:
from itertools import islice

In [7]:
n = 6

In [8]:
with open(ftrain) as myfile:
    head = list(islice(myfile, n))

columns = head[0].replace('\n','').split(',')
columns

['date_time',
 'site_name',
 'posa_continent',
 'user_location_country',
 'user_location_region',
 'user_location_city',
 'orig_destination_distance',
 'user_id',
 'is_mobile',
 'is_package',
 'channel',
 'srch_ci',
 'srch_co',
 'srch_adults_cnt',
 'srch_children_cnt',
 'srch_rm_cnt',
 'srch_destination_id',
 'srch_destination_type_id',
 'is_booking',
 'cnt',
 'hotel_continent',
 'hotel_country',
 'hotel_market',
 'hotel_cluster']

In [9]:
rows = []
for i in range(1,n):
    rows.append(head[1].replace('\n','').split(','))

rows

[['2014-08-11 07:46:59',
  '2',
  '3',
  '66',
  '348',
  '48862',
  '2234.2641',
  '12',
  '0',
  '1',
  '9',
  '2014-08-27',
  '2014-08-31',
  '2',
  '0',
  '1',
  '8250',
  '1',
  '0',
  '3',
  '2',
  '50',
  '628',
  '1'],
 ['2014-08-11 07:46:59',
  '2',
  '3',
  '66',
  '348',
  '48862',
  '2234.2641',
  '12',
  '0',
  '1',
  '9',
  '2014-08-27',
  '2014-08-31',
  '2',
  '0',
  '1',
  '8250',
  '1',
  '0',
  '3',
  '2',
  '50',
  '628',
  '1'],
 ['2014-08-11 07:46:59',
  '2',
  '3',
  '66',
  '348',
  '48862',
  '2234.2641',
  '12',
  '0',
  '1',
  '9',
  '2014-08-27',
  '2014-08-31',
  '2',
  '0',
  '1',
  '8250',
  '1',
  '0',
  '3',
  '2',
  '50',
  '628',
  '1'],
 ['2014-08-11 07:46:59',
  '2',
  '3',
  '66',
  '348',
  '48862',
  '2234.2641',
  '12',
  '0',
  '1',
  '9',
  '2014-08-27',
  '2014-08-31',
  '2',
  '0',
  '1',
  '8250',
  '1',
  '0',
  '3',
  '2',
  '50',
  '628',
  '1'],
 ['2014-08-11 07:46:59',
  '2',
  '3',
  '66',
  '348',
  '48862',
  '2234.2641',
  '12',
  '0',
  '1',
  '9',
  '2014-08-27',
  '2014-08-31',
  '2',
  '0',
  '1',
  '8250',
  '1',
  '0',
  '3',
  '2',
  '50',
  '628',
  '1']]

In [10]:
df = pd.DataFrame(rows)
df.columns = columns
df.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
2,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
3,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
4,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1

### Loading A Pandas DataFrame From GZ Files

In [11]:
fname = 'test.csv.gz'

In [12]:
# read gz file
with gzip.open('test.csv.gz') as f:
    test = pd.read_csv(f)

test.head()

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,...,2015-09-14,2015-09-16,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,...,2015-07-22,2015-07-23,2,0,1,11812,1,2,50,538

In [13]:
test.shape

(2528243, 22)

### Pandas DataFrame Columns & Dtypes

In [14]:
cols = list(test.columns)
cols

['id',
 'date_time',
 'site_name',
 'posa_continent',
 'user_location_country',
 'user_location_region',
 'user_location_city',
 'orig_destination_distance',
 'user_id',
 'is_mobile',
 'is_package',
 'channel',
 'srch_ci',
 'srch_co',
 'srch_adults_cnt',
 'srch_children_cnt',
 'srch_rm_cnt',
 'srch_destination_id',
 'srch_destination_type_id',
 'hotel_continent',
 'hotel_country',
 'hotel_market']

In [15]:
for col in cols:
    print(col, test[col].dtype)

id int64
date_time object
site_name int64
posa_continent int64
user_location_country int64
user_location_region int64
user_location_city int64
orig_destination_distance float64
user_id int64
is_mobile int64
is_package int64
channel int64
srch_ci object
srch_co object
srch_adults_cnt int64
srch_children_cnt int64
srch_rm_cnt int64
srch_destination_id int64
srch_destination_type_id int64
hotel_continent int64
hotel_country int64
hotel_market int64

### Loading A Large CSV in Chunks

In [16]:
os.path.getsize(fname)

69124384

In [17]:
cs = 100000

In [18]:
chunks = pd.read_table(fname, chunksize=1000000, sep=',', names=cols, index_col='id',
                        header=None, parse_dates=['date_time'])

chunks

In [19]:
df = pd.DataFrame()
%time df = pd.concat(chunks)

E:\Python\Anaconda\lib\site-packages\IPython\core\magics\execution.py:1238: DtypeWarning: Columns (0,2,3,4,5,6,7,8,9,10,11,14,15,16,17,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

Wall time: 18 s

#### Chunks is exhausted

In [20]:
df.shape

(2528244, 21)