In [1]:
import datapackage
import pandas as pd

In [2]:
data_url = 'https://datahub.io/sports-data/english-premier-league/datapackage.json'

# to load Data Package into storage
package = datapackage.Package(data_url)
type(package)

datapackage.package.Package

In [3]:
# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        #print (data)

data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,2009-08-15,Aston Villa,Wigan,0,2,A,0,1,A,...,2.04,1.92,1.91,1.81,21,0.0,1.28,1.22,4.40,3.99
1,E0,2009-08-15,Blackburn,Man City,0,2,A,0,1,A,...,2.15,2.04,1.78,1.71,24,0.0,2.58,2.38,1.60,1.54
2,E0,2009-08-15,Bolton,Sunderland,0,1,A,0,1,A,...,2.25,2.12,1.70,1.66,23,0.0,1.68,1.61,2.33,2.23
3,E0,2009-08-15,Chelsea,Hull,2,1,H,1,1,D,...,1.67,1.58,2.44,2.26,22,0.0,1.03,1.02,17.05,12.96
4,E0,2009-08-15,Everton,Arsenal,1,6,A,0,3,A,...,2.20,2.06,1.77,1.70,24,0.0,2.27,2.20,1.73,1.63

In [4]:
len(data)

380

In [5]:
data['Date'].unique()

array(['2009-08-15', '2009-08-16', '2009-08-18', '2009-08-19',
       '2009-08-22', '2009-08-23', '2009-08-24', '2009-08-29',
       '2009-08-30', '2009-09-12', '2009-09-13', '2009-09-19',
       '2009-09-20', '2009-09-26', '2009-09-27', '2009-09-28',
       '2009-10-03', '2009-10-04', '2009-10-05', '2009-10-17',
       '2009-10-18', '2009-10-19', '2009-10-24', '2009-10-25',
       '2009-10-31', '2009-11-01', '2009-11-04', '2009-11-07',
       '2009-11-08', '2009-11-09', '2009-11-21', '2009-11-22',
       '2009-11-25', '2009-11-28', '2009-11-29', '2009-12-05',
       '2009-12-06', '2009-12-12', '2009-12-13', '2009-12-15',
       '2009-12-16', '2009-12-19', '2009-12-20', '2009-12-26',
       '2009-12-27', '2009-12-28', '2009-12-29', '2009-12-30',
       '2010-01-05', '2010-01-09', '2010-01-11', '2010-01-16',
       '2010-01-17', '2010-01-20', '2010-01-23', '2010-01-26',
       '2010-01-27', '2010-01-30', '2010-01-31', '2010-02-01',
       '2010-02-02', '2010-02-03', '2010-02-06', '2010-02-07',
       '2010-02-09', '2010-02-10', '2010-02-16', '2010-02-17',
       '2010-02-20', '2010-02-21', '2010-02-23', '2010-02-27',
       '2010-02-28', '2010-03-06', '2010-03-07', '2010-03-08',
       '2010-03-09', '2010-03-10', '2010-03-13', '2010-03-14',
       '2010-03-15', '2010-03-16', '2010-03-20', '2010-03-21',
       '2010-03-23', '2010-03-24', '2010-03-27', '2010-03-28',
       '2010-03-29', '2010-04-03', '2010-04-04', '2010-04-10',
       '2010-04-11', '2010-04-13', '2010-04-14', '2010-04-17',
       '2010-04-18', '2010-04-19', '2010-04-21', '2010-04-24',
       '2010-04-25', '2010-05-01', '2010-05-02', '2010-05-03',
       '2010-05-05', '2010-05-09'], dtype=object)